@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="space">
    </div>
    <div class="jumbotron" style="background-color:#1C1C1C;">
        <h2 style='margin-top:0px;padding-top:0px;color:white;'>Latest uploaded</h2>
        <div class="row" id="news">
            <!--
                Show latest uploaded movies.
            -->
        </div>
    </div>
    <div class="jumbotron" style="background-color:#1C1C1C;" id="all">
        <h2 style="color:white;">  All movies</h2>
        <!--
            Load all movies dinamically!
        -->
    </div>
</section>
