@using System.Net.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Watch Movie";
    string id = Html.ViewContext.HttpContext.Request.Query["id"];
    var client = new HttpClient();
    var response = await client.GetAsync($"https://localhost:44333/Home/NameOf/?id={id}");
    var str = await response.Content.ReadAsStringAsync();
    dynamic obj = JsonConvert.DeserializeObject(str);
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Watch.js"></script>
<section>
    <div class="space">
    </div>
    <div class="jumbotron" style="background-color:#1C1C1C;">
        <h2 style='margin-top:0px;padding-top:0px;color:white;'>@obj.name</h2>
        <video width="640" height="480" controls>
            <source src="/Home/Watch/?id=@id" type="video/mp4">
            <track kind="subtitles" srclang="ro" type="application/octet-stream" label="Romanian" src="/Home/Transcribe/?id=@id" default>
        </video>
        <hr />
        <textarea disabled rows="3" cols="60">@obj.details</textarea>
    </div>
    <div class="jumbotron" style="background-color:#1C1C1C;">
        <h2 style='margin-top:0px;padding-top:0px;color:white;'>Same Genre</h2>
        <div class="row" id="genres">
            <!--
                Show movies from same genre...
            -->
        </div>
    </div>
</section>
