<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/storm.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/storm.png" width="32" height="32" alt="MovieStorm">&nbsp; MovieStorm</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Filter by
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/?filter=all">All Movies</a>
                                <a class="dropdown-item" href="/?filter=rating">Best Rating</a>
                                <a class="dropdown-item" href="/?filter=views">Most Views</a>
                                <a class="dropdown-item" href="/?filter=genre">Genre</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form id="results" class="form-inline my-2 my-sm-0" method="get">
                                <input class="form-control mr-sm-2" id="name" type="text" placeholder="Search">
                                <button class="btn btn-success my-2 my-sm-0" id="find" type="submit">Find</button>
                            </form>
                        </li>
                        @using System.Net.Http
                        @using System.Net.Http.Headers
                        @using Newtonsoft.Json
                        @{
                            bool admin = false;
                            string token = Html.ViewContext.HttpContext.Request.Cookies["token"];
                            dynamic obj = null;

                            if (!string.IsNullOrEmpty(token))
                            {
                                var client = new HttpClient();
                                var request = new HttpRequestMessage
                                {
                                    Method = HttpMethod.Get,
                                    RequestUri = new Uri($"https://localhost:44333/Account/About/?token={token}"),
                                    Headers =
                                                                    {
                                        { "Authorization", $"Bearer {token}" }
                                    }
                                };

                                var response = await client.SendAsync(request);
                                var data = await response.Content.ReadAsStringAsync();
                                obj = JsonConvert.DeserializeObject(data);
                                admin = bool.Parse(obj.admin.ToString());
                            }
                        }
                        @if (!string.IsNullOrEmpty(token))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    <img src="/Account/Show" width="32" height="32" class="rounded-circle" alt="My Profile">&nbsp;@obj.username
                                </a>
                                <div class="dropdown-menu">
                                    @if (admin)
                                    {
                                        <a class="dropdown-item" href="/Home/AddMovie">Add Movie</a>
                                        <a class="dropdown-item" href="#">My Activity</a>
                                        <a class="dropdown-item" href="/Home/UpdateProfile">Change Password</a>
                                        <a class="dropdown-item" href="/Account/Signout">Sign out</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="/Home/UpdateProfile">Change Password</a>
                                        <a class="dropdown-item" href="/Account/Signout">Sign out</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="row">
                                    <div class="span6">
                                        <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Log In</a>
                                    </div>
                                    <div class="vertical-divider text-primary">or</div>
                                    <div class="span6">
                                        <a class="nav-link text-light" asp-controller="Account" asp-action="Signup">Sign Up</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
            <b class="text-info">&copy; 2020 - Movie Storm</b>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/storm.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
